body{
  width: 100%;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  overflow: hidden;
}

/* ヘッダー */
header{
  background-color: #fafafa;
  color: #333;
  overflow: hidden;
  width: 100%;
  height: 180px;
}
.title{
  float: left;
}
header h1{
  text-align: center;
  font-size: 80px;
  margin: 0 auto;
  padding: 25px 20px;
}
.menu{
  float: right;
  position: relative;
  top: 80px;
}
header ul{
  list-style: none;
}
header li{
  float: left;
  padding: 0 30px;
}
header a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 28px;
}
header a:hover{
  color: #c93a40;
}
.container{
  width: 100%;
  height: 585px;
  margin: 0 auto;
  background-color: #333;
  color: #fafafa;
  overflow: hidden;
}

/* マイページ */
.user-info{
  margin: 0 auto;
  width: 61.8%;
  height: 361.55px;
  border-right: 1px solid #fafafa;
  position: relative;
  top: 111.725px;
  float: left;
  box-sizing: border-box;
}
.user-info label{
  font-size: 32px;
  display: inline-block;
  width: 50%;
  position: relative;
  top: 37.07px;
  color: #c93a40;
}
.user-info span{
  font-size: 28px;
  display: inline-block;
  width: 50%;
  position: relative;
  top: 35px;
}
.info-box{
  margin: 0 auto;
  width: 70%;
  height: 33.33%;
  text-align: center;
}
.achievement{
  margin: 0 auto;
  width: 38.2%;
  height: 361.55px;
  float: left;
  position: relative;
  top: 111.725px;
  text-align: center;
}
.achievement-title{
  height: 61.8%;
  font-size: 28px;
  margin: 0 auto;
  color: #c93a40;
}
.achievement-title h2{
  margin: 0;
  position: relative;
  top: 80.71px;
}
.achievement-content{
  margin: 0 auto;
  height: 38.2%;
  font-size: 32px;
}
.ranking-box{
  position: relative;
  top: 10px;
}
/* table{
  border-spacing: 0;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  position: relative;
  top: 12px;
}
td{
  border: 1px solid #fafafa;
  padding: 0;
  width: 20%;
  height: 50%;
} */


/* フッター */
footer{
  background-color: #fafafa;
  color: white;
  height: 85px;
  text-align: center;
}
footer p{
  margin: 0 auto;
  font-size: 18px;
  position: relative;
  top: 30px;
}
footer a{
  color: white;
}
footer a:hover{
  color: #c93a40;
}
