html{
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
}

/* ãƒ˜ãƒƒãƒ€ãƒ¼ */
header{
  background-color: #fafafa;
  color: #333;
  overflow: hidden;
  width: 100%;
  height: 11%;
}
.title{
  float: left;
}
header h1{
  text-align: center;
  font-size: 48px;
  margin: 0 auto;
  padding: 0px 20px;
}
.menu{
  float: right;
  position: relative;
  top: 15px;
}
header ul{
  list-style: none;
}
header li{
  float: left;
}
header a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 24px;
  padding: 10px 20px;
}
header a:hover{
  color: #c93a40;
}
.container{
  width: 100%;
  height: 80%;
  margin: 0 auto;
  background-color: #333;
  color: #fafafa;
}

/* ãƒžã‚¤ãƒšãƒ¼ã‚¸ */
.icon-container{
  height: 30%;
}
.icon-box{
  margin: 0 auto;
  width: 120px;
  padding: 35px;
}
.icon-container a{
  display: block;
  width: 120px;
  height: 120px;
  border: 1px solid #fafafa;
  border-radius: 60px;
  box-sizing: border-box;
  opacity: 0;
}
.icon-container a:active{
  border-bottom: none;
  top: 5px;
}
.icon-container img{
  width: 120px;
  height: 120px;
  border: 1px solid #fafafa;
  border-radius: 60px;
  box-sizing: border-box;
  position: absolute;
}
.icon-box span{
  position: relative;
  left: 90px;
  bottom: 28px;
}
.user-info-container{
  display: flex;
  flex-direction: row;
  height: 70%;
  padding: 10px;
  box-sizing: border-box;
}
.user-info{
  /* margin: 0 auto; */
  width: 50%;
  height: 100%;
  border-right: 1px solid #fafafa;
  box-sizing: border-box;
  /* display: flex; */
  /* flex-direction: column; */
}
.user-info label{
  font-size: 32px;
  display: inline-block;
  width: 50%;
  position: relative;
  top: 37.07px;
  color: #c93a40;
}
.user-info span{
  font-size: 28px;
  display: inline-block;
  width: 50%;
  position: relative;
  top: 35px;
}
.info-box{
  margin: 0 auto;
  width: 70%;
  height: 33.33%;
  text-align: center;
}
.achievement{
  /* margin: 0 auto; */
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}
.achievement-title{
  height: 61.8%;
  font-size: 24px;
  margin: 0 auto;
  color: #c93a40;
}
.achievement-title h2{
  margin: 0;
  position: relative;
  top: 80.71px;
}
.achievement-title a{
  display: inline-block;
  margin: 0;
  text-decoration: none;
  color: #fafafa;
  position: relative;
  top: 80.71px;
  font-size: 18px;
}
.achievement-content{
  margin: 0 auto;
  height: 38.2%;
  font-size: 28px;
}
.ranking-box{
  position: relative;
  top: 10px;
}

/* 編集画面 */
.img-box{
  background-color: #fafafa;
  width: 120px;
  height: 120px;
  border: 3px dashed #777;
  border-radius: 60px;
  box-sizing: border-box;
  position: relative;
  top: 250px;
  color: #333;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}
.input-img{
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.img-box img{
  width: 100%;
  height: 100%;
  border-radius: 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
.icon-change-form{
  width: 100%;
  height: 100%;
  text-align: center;
}
.icon-change-submit{
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  top: 280px;
  font-size: 18px;
  color: #333;
  border-radius: 5px;
}

/* ãƒ•ãƒƒã‚¿ãƒ¼ */
footer{
  background-color: #fafafa;
  height: 9%;
}
